{% load staticfiles %}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Foundation & FontAwesome -->
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.2.3/css/foundation.css">
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/trianglify/0.1.2/trianglify.min.js"></script>


<link rel="stylesheet" type="text/css" href="{% static 'randomGen/styles.css' %}" />
<body>
<header>
Random pen spinning combo generator
</header>
<form action="" method="POST" id="post-form">
  {% csrf_token %}
  {{ form }}
  

  <button type ="submit">Generate</button>
  <p>Combo:</p>
  <div id ="results"> </div>
</form>

<script src="{% static 'randomGen/main.js' %}"></script>


</body>